
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/inter-v19-latin-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/inter-v19-latin-italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/inter-v19-latin-600.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/inter-v19-latin-700.woff2') format('woff2');
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-image: url('/assets/bg.jpg');
    background-size: cover;
    background-position: center;

    filter: blur(15px);
    transform: scale(1.1);
  }

  main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  h1 {
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 9rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5); 
  }