---
import '../styles/style.css';
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/narrenhaeusel/assets/favicon.png" />
	<meta name="generator" content={Astro.generator} />
    <title>Narrenhäusel AR</title>
  </head>
  <body>
    <div class="background"></div>
    <main>
      <h1>
        <span>Coming</span>
        <span>soon...</span>
      </h1>
    </main>
  </body>
</html>
